<!-- ng-show="indexCtrl.loggedIn"  -->
<div class="col-md-12">

	<uib-tabset> <uib-tab index="0"
		heading="Advertiser Profile"> <br>

	<div class="panel panel-info">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td>First name:</td>
						<td>{{profileCtrl.advertData.firstName}}</td>
					</tr>
					<tr>
						<td>Last name:</td>
						<td>{{profileCtrl.advertData.lastName}}</td>
					</tr>
					<tr>
						<td>Username:</td>
						<td>{{profileCtrl.advertData.username}}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td><a href="mailto:{{profileCtrl.advertData.email}}">{{profileCtrl.advertData.email}}</a></td>
					</tr>
					<tr>
						<td><font color="red"><font color="red">Average
									rate</font></font></td>
						<td><font color="red">{{profileCtrl.advertData.avRate}}/5</font></font></td>
					</tr>

					<tr>
						<td>{{profileCtrl.countRate(1)}} people rate it with</td>
						<td><span class="glyphicon glyphicon-star"></span></td>
					</tr>
					<tr>
						<td>{{profileCtrl.countRate(2)}} people rate it with</td>
						<td><span class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span></td>
					</tr>
					<tr>
						<td>{{profileCtrl.countRate(3)}} people rate it with</td>
						<td><span class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span></td>
					</tr>
					<tr>
						<td>{{profileCtrl.countRate(4)}} people rate it with</td>
						<td><span class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span></td>
					</tr>
					<tr>
						<td>{{profileCtrl.countRate(5)}} people rate it with</td>
						<td><span class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span></td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>

	<center>
		<div ng-show="profileCtrl.voted == false">
			Please rate us <span uib-rating ng-model="profileCtrl.rate"
				ng-click="profileCtrl.rateMe()" max="{{profileCtrl.max}}"
				read-only="isReadonly"></span>
		</div>
	</center>
	</uib-tab> </uib-tabset>
</div>
<div class="row">
	<div class=" col-sm-3 col-lg-3 col-md-3"
		ng-repeat="advert in profileCtrl.adverts">
		<div class="thumbnail">
			<img ng-src="{{advert.estate.images[0].url}}" alt="Missing Image">
			<div class="caption">
				<h4 class="pull-right">${{advert.estate.price}}</h4>
				<h4>
					<a>{{advert.estate.name}}</a>
				</h4>
				<p>Area: {{advert.estate.area}}</p>
				<p>City: {{advert.estate.city}}</p>

			</div>

		</div>
	</div>
</div>

