
<!-- ukoliko ima kompaniju -->
<div class="col-md-12" ng-show="companyCtrl.hasCompany && !companyCtrl.myCompany.onHold">
	<uib-tabset> 
		<uib-tab index="0"  heading="Info" ng-click="companyCtrl.initMap()">
			<br> 
			<div class="panel panel-info">
			<div class="panel-heading"></div>
			<div class="panel-body">
			<table class="table table-user-information">
				<tr>
					<td>Company Name</th>
					<td>{{companyCtrl.myCompany.name}}</td>
				</tr>
				<tr>
					<td>Address</th>
					<td>{{companyCtrl.myCompany.address}}</td>
				</tr>
				<tr>
					<td colspan="2"><div >
						<div id="map1" style="width: 100%; height: 250px;"></div>
					</div></td>
				</tr>
			</table>
			</div>
			</div>
		</uib-tab> 
		<uib-tab index="1" active="1" heading="Invite to Company">
		<br> 
		
		<table style="width:100%">
		<tr>
		<td>
		<input type="text" class="form-control "
		uib-typeahead="advert.username for advert in companyCtrl.adverts | filter:$viewValue"
		ng-model="selected" 
		placeholder="Search advertisers" data-toggle="tooltip"
		title="Send call to advertisers to work in company"
		typeahead-on-select="companyCtrl.typeSelect($item, $model, $label)">
		</td>
		<td>
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" 
			ng-click="companyCtrl.sendRequest()">Send Invitation</button>
		</span>
		</td>
		</tr>
		</table>
		</uib-tab> </uib-tabset>


</div>

<!-- ukoliko je poslao zahtev koji administratori nisu resili -->
<div class="col-md-12" ng-show="companyCtrl.hasCompany && companyCtrl.myCompany.onHold">
	<uib-tabset active="active"> 
		<uib-tab index="0" heading="Info">
			<br>
			<div class="jumbotron">
				<h2>Your request for company is on hold.</h2>
			</div>
		 </uib-tab>
	</uib-tabset>
</div>

<!-- ukoliko nema kompaniju -->
<div class="col-md-12" ng-show="!companyCtrl.hasCompany">
	<uib-tabset active="active"> <uib-tab index="0"
		heading="Info">
	<br>
	<div class="jumbotron">
		<h2>You don't work in any company.</h2>
	</div>
	</uib-tab> <uib-tab index="1" heading="Register Company">
	<div ng-include="'views/registerCompany.html'"></div>
	</uib-tab> <uib-tab index="2" >
	<uib-tab-heading> <i class="glyphicon glyphicon-bell"></i> ({{companyCtrl.callList.length}}) Invitation List</uib-tab-heading>
	
	<!-- ******************TABLE************************** -->
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Company name</th>
				<th>Company address</th>
				<th>Request sender</th>
				<th>Date</th>
				<th>Your response</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="request in companyCtrl.callList">
				<td>{{request.company.name}}</td>
				<td>{{request.company.address}}</td>
				<td>{{request.fromadvrt.username}}</td>
				<td>{{companyCtrl.formatDate(request.dateOfCall)}}</td>
				<td>
					<button class="btn-success"
						ng-click="companyCtrl.acceptCall(request); active = 0">Accept</button>
				</td>
			</tr>

		</tbody>
	</table>

	</uib-tab> </uib-tabset>
</div>

