
<center><h3>Estate</h3>
		<button class='md-raised' ng-click='estateCtrl.createAd()' 
			ng-show="indexCtrl.userData.id == estateCtrl.estate.owner.id && estateCtrl.hasAd==false">Create advert for this estate</button>
		<button ng-click='estateCtrl.goToAd()' ng-show='estateCtrl.hasAd'>advertisement</button>
</center>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
				<table class="table table-user-information">
							<tbody>
								<tr>
									<td>Name:</td>
									<td>{{estateCtrl.estate.name}}</td>
								</tr>
								<tr>
									<td>City:</td>
									<td>{{estateCtrl.estate.city}}</td>
								</tr>
								<tr>
									<td>City part:</td>
									<td>{{estateCtrl.estate.cityPart}}</td>
								</tr>
								<tr>
									<td>Address:</td>
									<td>{{estateCtrl.estate.address}}</td>
								</tr>
								<tr>
									<td>Area:</td>
									<td>{{estateCtrl.estate.area}}</td>
								</tr>
								<tr>
									<td>Price:</td>
									<td>{{estateCtrl.estate.price}}</td>
								</tr>
								<tr>
									<td>Heating sys:</td>
									<td>{{estateCtrl.estate.heatingSystem}}</td>
								</tr>
								<tr>
									<td>Tech equipment:</td>
									<td>{{estateCtrl.estate.technicalEquipment}}</td>
								</tr>
								<tr>
									<td>Owner:</td>
									<td>{{estateCtrl.estate.owner.firstName}}</td>
								</tr>
								<tr>
									<td>Rate:</td>
									<td>{{estateCtrl.estate.rate}}</td>
								</tr>


							</tbody>
						</table>
				<div class="form-group">

			<div ng-show="indexCtrl.authority=='CUSTOMER'">
	        	<label><input type="radio" name="rate" ng-model="estateCtrl.rate" value=1>1</label>
	        	<label><input type="radio" name="rate" ng-model="estateCtrl.rate" value=2>2</label>
	        	<label><input type="radio" name="rate" ng-model="estateCtrl.rate" value=3>3</label>
	        	<label><input type="radio" name="rate" ng-model="estateCtrl.rate" value=4>4</label>
	        	<label><input type="radio" name="rate" ng-model="estateCtrl.rate" value=5>5</label><br>
	        	<button class='md-raised' ng-click='estateCtrl.rateEstate();'>RATE</button>
        	</div>
    </div>
		</div>


	</div>
</div>