
<div class="row">
	<div class=" col-sm-3 col-lg-3 col-md-3"
		ng-repeat="advert in indexCtrl.adverts">
		<div class="thumbnail">
			<img ng-src="{{advert.estate.images[0].url}}" alt="Missing Image">
			<div class="caption">
				<h4 class="pull-right">${{advert.estate.price}}</h4>
				<h4>
					<a>{{advert.estate.name}}</a>
				</h4>
				<p>Area: {{advert.estate.area}}</p>
				<p>City: {{advert.estate.city}}</p>
				<p>
					<!-- Advertiser: <a href="mailto:{{advert.advertiser.email}}">{{advert.advertiser.username}}</a> -->
					<a href="#/advertProfile/{{advert.advertiser.id}}">{{advert.advertiser.username}}</a>
				</p>
			</div>

		</div>
	</div>
</div>

<div class="text-center row">
	<div class="col-md-12" style="">
		<ul class="pagination">
			<li ng-repeat="num in indexCtrl.pages"
				ng-class="{'active': num == indexCtrl.pages[0]}"
				ng-click="indexCtrl.getAdvert(num-1); indexCtrl.selectPage($event)"><a>{{num}}</a></li>
		</ul>
	</div>
</div>