<div class="col-md-12" class="container">

	<button id="flagButton" ng-show="indexCtrl.loggedIn" type="button" class="btn btn-danger" 
		data-toggle="tooltip" title="Flag Advertisement as inappropriate" 
		style="float: right" ng-click="showDiv = !showDiv" ng-disabled="adversCtrl.disabled">
		<span class="glyphicon glyphicon-flag"></span> Report
	</button>
	
	<uib-tabset> <uib-tab index="0"
		heading="Advertisement  Info"> <br>
	<div class="row form-group" ng-show="showDiv">
		Please provide the reason for your report:
		<textarea class="form-control" rows="5" id="message"></textarea>
		<button type="button" class="btn btn-success"
		ng-click="adversCtrl.sendReport(); showDiv = !showDiv">Submit</button>
	</div>
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading"></div>
			<div class="panel-body" style="padding-top: 0">
				<div class="row">
					<table class="table table-user-information">
						<tbody>
							<tr>
								<td>Estate name:</td>
								<td>{{adversCtrl.data.estate.name}}</td>
							</tr>
							<tr>
								<td>Price:</td>
								<td>${{adversCtrl.data.estate.price}}</td>
							</tr>

							<tr ng-show="adversCtrl.isLogged == true">
								<td>Advertiser username</td>
								<td><a
									href=#/advertProfile/{{adversCtrl.data.advertiser.id}}>{{adversCtrl.data.advertiser.username}}</a></td>
							</tr>
							<tr ng-show="adversCtrl.isLogged == true">
								<td>Adress:</td>
								<td>{{adversCtrl.data.estate.address}}</td>
							</tr>
							<tr>
								<td>Area:</td>
								<td>{{adversCtrl.data.estate.area}} m2</td>
							</tr>

							<tr>
								<td>City:</td>
								<td>{{adversCtrl.data.estate.city}}</td>
							</tr>
							<tr>
								<td>City part:</td>
								<td>{{adversCtrl.data.estate.cityPart}}</td>
							</tr>
							<tr>
								<td>Heating system type:</td>
								<td>{{adversCtrl.data.estate.heatingSystem}}</td>
							</tr>

							<tr>
								<td>Publication date:</td>
								<td>{{indexCtrl.formatDate(adversCtrl.data.publicationDate)}}</td>
							</tr>
							<tr>
								<td>Expiry date:</td>
								<td>{{indexCtrl.formatDate(adversCtrl.data.expiryDate)}}</td>
							</tr>

						</tbody>
					</table>
					<div id="map2" style="width: 100%; height: 400px;"></div>

				</div>
			</div>
		</div>
	</div>
	</uib-tab> <!-- TAB NUMBER 2 --> <uib-tab index="1" heading="Gallery">
	<br>

	<div class="row">

		<div class="panel panel-info">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-xs-6 thumb"
						ng-repeat="myImage in adversCtrl.data.estate.images">
						<a class="thumbnail"
							ng-click="adversCtrl.openLightBoxModal($index)"> <img
							class="img-responsive" ng-src="{{myImage.url}}"
							alt="Missing image">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</uib-tab> <!-- THIRD TAB --> <uib-tab index="2" heading="Rating"> <br>

	<div class="row">

		<div class="panel panel-info">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div class="row">
					<table class="table table-user-information">
						<tbody>
							<tr ng-show="adversCtrl.voted == false" class="info">
								<td>PLEASE RATE US</td>
								<td><span uib-rating ng-model="adversCtrl.rate"
									ng-click="adversCtrl.rateMe()" max="{{adversCtrl.max}}"
									read-only="isReadonly"></span></td>

							</tr>
							<tr>
								<td><font color="red"><font color="red">Average
											rate</font></font></td>
								<td><font color="red">{{adversCtrl.data.estate.rate}}/5</font></font></td>
							</tr>
							<tr>
								<td>{{adversCtrl.countRate(1)}} people rate it with</td>
								<td><span class="glyphicon glyphicon-star"></span></td>
							</tr>
							<tr>
								<td>{{adversCtrl.countRate(2)}} people rate it with</td>
								<td><span class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span></td>
							</tr>
							<tr>
								<td>{{adversCtrl.countRate(3)}} people rate it with</td>
								<td><span class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span></td>
							</tr>
							<tr>
								<td>{{adversCtrl.countRate(4)}} people rate it with</td>
								<td><span class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span></td>
							</tr>
							<tr>
								<td>{{adversCtrl.countRate(5)}} people rate it with</td>
								<td><span class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span></td>
							</tr>



						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</uib-tab> </uib-tabset>
</div>

<div class="modal fade" id="reportModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
				<h4 class="modal-title">Report Advertisement</h4>
			</div>
			<div class="modal-body">
				<p>This is a small modal.</p>
			</div>
			<div class="modal-footer">
				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		</div>
	</div>
</div>