<!DOCTYPE html>
<html ng-app="myApp">

<head>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script
	src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script
	src="bower_components/angular-lodash-module/angular-lodash-module.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="scripts/controllers/angular-bootstrap-lightbox.min.js"></script>

<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
	
	<link rel="stylesheet" href="scripts/controllers/angular-bootstrap-lightbox.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<script
	src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

<link rel="stylesheet" href="/styles/style.css">
<script src="/scripts/app.js"></script>
<script src="/scripts/services/googleMapService.js"></script>
<script src="/scripts/controllers/indexCtrl.js"></script>
<script src="/scripts/controllers/loginCtrl.js"></script>
<script src="/scripts/controllers/profileCtrl.js"></script>
<script src="/scripts/controllers/registrationCtrl.js"></script>
<script src="/scripts/controllers/searchCtrl.js"></script>
<script src="/scripts/controllers/companyCtrl.js"></script>
<script src="/scripts/controllers/regCompanyCtrl.js"></script>
<script src="/scripts/controllers/registerAdminOrModeratorCtrl.js"></script>
<script src="/scripts/controllers/advertisemenetReportsCtrl.js"></script>
<script src="/scripts/controllers/adminDashboardCtrl.js"></script>
<script src="/scripts/controllers/estateCtrl.js"></script>
<script src="/scripts/controllers/advertiserProfileCtrl.js"></script>
<script src="/scripts/controllers/viewAdverCtrl.js"></script>

<script src="/scripts/controllers/messageCtrl.js"></script>
<script src="/scripts/controllers/notificationCtrl.js"></script>
<script src="/scripts/services/errorLogService.js"></script>


<script src="/scripts/controllers/myEstatesCtrl.js"></script>



<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy7-QAuubP_fP6XxTcifT9RWXeEeouEGQ"></script>


</head>

<body ng-controller="indexController as indexCtrl ">

	<nav class="navbar navbar-inverse" >
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/#/search">Homepage</a>
			</div>
			<ul class="nav navbar-nav">
				<!-- ovde buttons za akcije korisnika -->

				<li
					ng-show="indexCtrl.loggedIn && indexCtrl.authority == 'ADMINISTRATOR'"
					data-toggle="tooltip" title="Register Admin or Moderator"><a
					href="/#/registerAdminOrModerator">Register</a></li>
				<li
					ng-show="indexCtrl.loggedIn && indexCtrl.authority == 'MODERATOR'"
					data-toggle="tooltip" title="Resolve Advertisement Reports"><a
					href="/#/advertisementReports">Reports</a></li>
				<li
					ng-show="indexCtrl.loggedIn && indexCtrl.authority == 'ADMINISTRATOR'"
					data-toggle="tooltip" title="Resolve Advertisement Reports"><a
					href="/#/adminsDashboard">Dashboard</a></li>

				<li
					ng-show="indexCtrl.loggedIn && indexCtrl.authority =='ADVERTISER'"
					data-toggle="tooltip" title="Company"><a href="/#/company">Company</a></li>

				<li
					ng-show="indexCtrl.loggedIn && indexCtrl.authority =='ADVERTISER'"
					data-toggle="tooltip" title="My Estates"><a href="/#/myEstates">Estates</a></li>


			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="indexCtrl.loggedIn" data-toggle="tooltip"
					title="Profile"><a href="/#/profile"><span
						class="glyphicon glyphicon-user"></span></a></li>
				<li ng-if="indexCtrl.loggedIn && (indexCtrl.authority =='ADVERTISER' || indexCtrl.authority =='CUSTOMER')" data-toggle="tooltip" title="Messages">
						<a href="/#/messages">
							<span class="glyphicon glyphicon-comment"></span>
							<span class="badge badge-notify" id="messagesDiv"
							ng-controller="messageController as messageCtrl">
							</span>
						</a>
				</li>
				<li ng-if="indexCtrl.loggedIn && indexCtrl.authority =='ADVERTISER'" data-toggle="tooltip" title="Notifications">
						<a href="/#/notifications">
							<span class="glyphicon glyphicon-bell"></span>
							<span class="badge badge-notify" id="notDiv"
							ng-controller="notificationController as notificationCtrl">
							</span>
						</a>
				</li>
				<li ng-show="indexCtrl.loggedIn" ng-click="indexCtrl.logout()"><a
					href="/#/"><span class="glyphicon glyphicon-log-out"></span>
						Logout</a></li>
				<li ng-show="!indexCtrl.loggedIn"><a href="/#/login"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
				
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="container-fluid">
			<div class="col-md-3">
				<form>
					<h4>Filter Advertisements</h4>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="indexCtrl.name"
							placeholder="Estate name" data-toggle="tooltip"
							title="Estate name" empty-to-null>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="indexCtrl.city"
							placeholder="City" data-toggle="tooltip" title="City"
							empty-to-null>
					</div>
					<div class="form-group">
						<input type="text" class="form-control"
							ng-model="indexCtrl.cityPart" placeholder="City part"
							data-toggle="tooltip" title="City part" empty-to-null>
					</div>
					<div class="form-group">
						<input type="text" class="form-control"
							ng-model="indexCtrl.address" placeholder="Address"
							data-toggle="tooltip" title="Address" empty-to-null>
					</div>

					<div class="form-group row">
						<div class="col-md-6" style="padding-right: 5px">
							<input type="number" class="form-control" placeholder="Min Area"
								ng-model="indexCtrl.minArea" min="0" max="{{indexCtrl.maxArea}}"
								data-toggle="tooltip" title="Min Area">
						</div>
						<div class="col-md-6" style="padding-left: 5px">
							<input type="number" class="form-control" placeholder="Max Area"
								ng-model="indexCtrl.maxArea" min="{{indexCtrl.minArea}}"
								data-toggle="tooltip" title="Max Area">
						</div>
					</div>


					<div class="form-group row">
						<div class="col-md-6" style="padding-right: 5px">
							<input type="number" class="form-control" placeholder="Min Price"
								ng-model="indexCtrl.minPrice" min="0"
								max="{{indexCtrl.maxPrice}}" data-toggle="tooltip"
								title="Min Price">
						</div>
						<div class="col-md-6" style="padding-left: 5px">
							<input type="number" class="form-control" placeholder="Max Price"
								ng-model="indexCtrl.maxPrice" min="{{indexCtrl.minPrice}}"
								data-toggle="tooltip" title="Max Price">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4" style="padding-right: 5px">Heating:</div>
						<div class="col-md-8" style="padding-left: 5px">
							<select class="form-control" data-toggle="tooltip"
								title="Heating System" ng-model="indexCtrl.heating"
								empty-to-null>
								<option value="" selected>All</option>
								<option value="Central">Central</option>
								<option value="Electric">Electric</option>
								<option value="Firewood">Firewood</option>
								<option value="Gas">Gas</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<input type="text" class="form-control"
							ng-model="indexCtrl.equipment" placeholder="Equipment"
							data-toggle="tooltip" title="Technical Equipment" empty-to-null>
					</div>

					<div class="form-group row">
						<div class="col-md-4" style="padding-right: 5px">Publication:</div>
						<div class="col-md-8" style="padding-left: 5px">
							<input type="date" max="{{indexCtrl.expiry}}"
								class="form-control" ng-model="indexCtrl.publication">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4" style="padding-right: 5px">Expiry:</div>
						<div class="col-md-8" style="padding-left: 5px">
							<input type="date" min="{{indexCtrl.publication}}"
								class="form-control" ng-model="indexCtrl.expiry">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4" style="padding-right: 5px"></div>
						<div class="col-md-8" style="padding-left: 5px">
							<button ng-click="indexCtrl.getAdvert(0);" type="submit"
								class="btn btn-primary col-md-12">Filter</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-md-8">
				<ng-view></ng-view>
			</div>

			<div ng-if="indexCtrl.authority" class="col-md-1">
				Last Seen:
				<table>
					<tr class="btn-group-lg" ng-repeat="e in indexCtrl.lastSeen"
						ng-switch on="$index % 2">
						<td ng-if="indexCtrl.lastSeen[$index]" ng-switch-when="0"
							width="30">
							<a type="button" class="btn btn-block btn-sm"
								href="#/viewAdvertisement/{{indexCtrl.lastSeen[$index].advert.id}}"
								data-toggle="tooltip" style="padding: 0"
								title="{{indexCtrl.lastSeen[$index].advert.estate.name}} viewed on: {{indexCtrl.formatDate(indexCtrl.lastSeen[$index].time)}}">
								<span ng-if="!indexCtrl.lastSeen[$index].advert.estate.images"
									style="font-size: 25px" class="glyphicon glyphicon-home"></span>
								<img ng-if="indexCtrl.lastSeen[$index].advert.estate.images"
									ng-src="{{indexCtrl.lastSeen[$index].advert.estate.images[0].url}}"
									width="30" height="30" />
							</a>
						</td>
						<td ng-if="indexCtrl.lastSeen[$index+1]" ng-switch-when="0"
							width="30" height="30">
							<a type="button" class="btn btn-block btn-sm"
								href="#/viewAdvertisement/{{indexCtrl.lastSeen[$index+1].advert.id}}"
								data-toggle="tooltip" style="padding: 0"
								title="{{indexCtrl.lastSeen[$index+1].advert.estate.name}} viewed on: {{indexCtrl.formatDate(indexCtrl.lastSeen[$index+1].time)}}">
								<span ng-if="!indexCtrl.lastSeen[$index+1].advert.estate.images"
									style="font-size: 25px" class="glyphicon glyphicon-home"></span>
								<img ng-if="indexCtrl.lastSeen[$index+1].advert.estate.images"
									ng-src="{{indexCtrl.lastSeen[$index+1].advert.estate.images[0].url}}"
									width="30" height="30" />
							</a>
						</td>

					</tr>
				</table>
			</div>
		</div>
	</div>

</body>

</html>